<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="https://www.canada.ca/en/errors/500.html"/>
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".md" mimeType="application/md" />
	        <mimeMap fileExtension=".download" mimeType="application/javascript" />
        </staticContent>
    </system.webServer>
</configuration>
